# Assignment_2
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

This assignment would evaluate tree core topics : pandas , loops  and try , continue , catch exceptions

## Part 1. Pandas

Use the next data base `nyc_taxis.csv` , its on the github page of the assignment

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calculate
1. The average distance of the trip  (`trip_distance`) for each month (`pickup_month`)
2. The total of trips from JFK for each day of the month
3. Calculate the average velocity according to `pickup_dayofweek`

In [1]:
import pandas as pd

In [2]:
file_path = pd.read_csv("nyc_taxis.csv")
file_path

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
2009,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
2010,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
2011,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
2012,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [3]:
#First we use groupby to calculate the average of the trip for each month. Take note that we don't find information about 5th month
avg_trip_distance_per_month = nyc_taxis.groupby("pickup_month")["trip_distance"].mean().reset_index()
avg_trip_distance_per_month.columns = ["Month", "Average Trip Distance (miles)"]

NameError: name 'nyc_taxis' is not defined

In [20]:
avg_trip_distance_per_month = df.groupby("pickup_month")["trip_distance"].mean().reset_index()
avg_trip_distance_per_month.columns = ["Month", "Average Trip Distance (miles)"]

In [21]:
avg_trip_distance_per_month

      Month  Average Trip Distance (miles)
0  February                           3.75
1   January                           2.75
2     March                           3.00

In [25]:
jfk_trips_per_day = nyc_taxis[nyc_taxis['pickup_location_code'] == 'JFK'].groupby('pickup_day').size()
print("Total Trips from JFK Per Day of the Month:")
print(jfk_trips_per_day)

Total Trips from JFK Per Day of the Month:
Series([], dtype: int64)

KeyError: 'pickup_datetime'

## Part 2 Loops- For loops , while loops

a. Using a  “for loop” and the conditional “if else” for a range bettewn 1 to 100, evaluate "x" so that:
If x is a multiple of 3 print  “Fizz”
If x is a multiple of 5 print  “Buzz”
If x is a multiple of 3 and 5 print “FizzBuzz”

In [32]:
for x in range(1, 101):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

b.You are a data analyst at an online store and you have a file containing information about sales for the last year. 

Here are the name of the columns

- `Date`: Transaction date (format: YYYY-MM-DD)
- `Product`: Name of the product sold
- `Quantity`: Number of units sold
- `Price`: Unit price of the product in dollars
- `Category`: Product Category (Electronics, Clothing, Home)
- `Sale_ID`: A unique identifier for each transaction

Read the `sales.csv` file using pandas:

- Display the first few rows using `.head()`.

Create a new column:
- Calculate the total for each transaction (multiply `quantity` by `price`) and store it in a new column called `Total`.

In [41]:
file_sales = pd.read_csv("sales.csv")
file_sales

          Date          Product  Quantity  Price     Category  Sale_ID
0   2023-01-01           Laptop         1   1000  Electronics     1001
1   2023-01-01          T-Shirt         2     20     Clothing     1002
2   2023-01-02  Washing Machine         1    500         Home     1003
3   2023-01-02       Headphones         3     50  Electronics     1004
4   2023-01-03            Pants         1     30     Clothing     1005
5   2023-01-03       Television         1    800  Electronics     1006
6   2023-01-04     Coffee Maker         2    100         Home     1007
7   2023-01-05            Mouse         4     25  Electronics     1008
8   2023-01-05             Sofa         1    700         Home     1009
9   2023-01-06            Shoes         2     60     Clothing     1010
10  2024-01-01           Laptop         2   1000  Electronics     2001
11  2024-01-02       Television         1    750  Electronics     2002
12  2024-01-03            Shirt         5     25     Clothing     2003
13  2024-01-04     Refrigerator         1   1200         Home     2004
14  2024-01-04         Keyboard         3     40  Electronics     2005
15  2024-01-05             Desk         1    300         Home     2006
16  2024-01-06          Sweater         2     50     Clothing     2007
17  2024-02-01            Phone         1    900  Electronics     2008
18  2024-02-02       Dishwasher         1    600         Home     2009
19  2024-02-03              Bag         3     80     Clothing     2010
20  2024-02-04          Charger         5     15  Electronics     2011
21  2024-02-05            Chair         4    150         Home     2012
22  2024-02-06            Watch         1    400     Clothing     2013
23  2025-01-01           Laptop         3    950  Electronics     3001
24  2025-01-02            Shoes         4     70     Clothing     3002
25  2025-01-03   Vacuum Cleaner         2    350         Home     3003
26  2025-01-03           Tablet         1    600  Electronics     3004
27  2025-01-04          Sweater         3     55     Clothing     3005
28  2025-01-05        Desk Lamp         5     30         Home     3006
29  2025-01-06          Monitor         2    300  Electronics     3007
30  2025-01-07           Jacket         1    200     Clothing     3008
31  2025-01-08          Speaker         3    150  Electronics     3009
32  2025-01-09              Bed         1   1200         Home     3010

In [42]:
file_sales.head(2)

         Date  Product  Quantity  Price     Category  Sale_ID
0  2023-01-01   Laptop         1   1000  Electronics     1001
1  2023-01-01  T-Shirt         2     20     Clothing     1002

In [43]:
# Calculate the total for each transaction
file_sales["Total"] = file_sales["Quantity"] * file_sales["Price"]

# Save the updated file
file_sales.to_csv("file_sales_updated.csv", index=False)

print (file_sales)

          Date          Product  Quantity  Price     Category  Sale_ID  Total
0   2023-01-01           Laptop         1   1000  Electronics     1001   1000
1   2023-01-01          T-Shirt         2     20     Clothing     1002     40
2   2023-01-02  Washing Machine         1    500         Home     1003    500
3   2023-01-02       Headphones         3     50  Electronics     1004    150
4   2023-01-03            Pants         1     30     Clothing     1005     30
5   2023-01-03       Television         1    800  Electronics     1006    800
6   2023-01-04     Coffee Maker         2    100         Home     1007    200
7   2023-01-05            Mouse         4     25  Electronics     1008    100
8   2023-01-05             Sofa         1    700         Home     1009    700
9   2023-01-06            Shoes         2     60     Clothing     1010    120
10  2024-01-01           Laptop         2   1000  Electronics     2001   2000
11  2024-01-02       Television         1    750  Electronics     2002    750
12  2024-01-03            Shirt         5     25     Clothing     2003    125
13  2024-01-04     Refrigerator         1   1200         Home     2004   1200
14  2024-01-04         Keyboard         3     40  Electronics     2005    120
15  2024-01-05             Desk         1    300         Home     2006    300
16  2024-01-06          Sweater         2     50     Clothing     2007    100
17  2024-02-01            Phone         1    900  Electronics     2008    900
18  2024-02-02       Dishwasher         1    600         Home     2009    600
19  2024-02-03              Bag         3     80     Clothing     2010    240
20  2024-02-04          Charger         5     15  Electronics     2011     75
21  2024-02-05            Chair         4    150         Home     2012    600
22  2024-02-06            Watch         1    400     Clothing     2013    400
23  2025-01-01           Laptop         3    950  Electronics     3001   2850
24  2025-01-02            Shoes         4     70     Clothing     3002    280
25  2025-01-03   Vacuum Cleaner         2    350         Home     3003    700
26  2025-01-03           Tablet         1    600  Electronics     3004    600
27  2025-01-04          Sweater         3     55     Clothing     3005    165
28  2025-01-05        Desk Lamp         5     30         Home     3006    150
29  2025-01-06          Monitor         2    300  Electronics     3007    600
30  2025-01-07           Jacket         1    200     Clothing     3008    200
31  2025-01-08          Speaker         3    150  Electronics     3009    450
32  2025-01-09              Bed         1   1200         Home     3010   1200

- Create a new DataFrame called `df_electronic` that contains only sales from the `electronics` category.
- Calculate the total income of the `electronics` category.

- Group sales by `category` and calculate the total income for each one.

- Identify the product with the highest total quantity sold (`quantity`).

In [48]:
df_electronic = file_sales[file_sales["Category"]=="Electronics"]
total_income_electronic = (df_electronic["Quantity"] * df_electronic["Price"]).sum()
print (total_income_electronic)

10395

In [49]:
total_income_by_category = file_sales.groupby('Category')['Total'].sum()

In [50]:
print("Total income by category:\n", total_income_by_category)

Total income by category:
 Category
Clothing        1700
Electronics    10395
Home            6150
Name: Total, dtype: int64

Using a for loop:
- Print the ID of each sale (`sales_ID`) along with the total of that sale.

- Display the details of all sales (ID, Product, Total) whose revenue (`total`) is greater than $500.

- Using a dictionary and a `for loop`  count the total amount of products sold for each category

Using a while loop:
- Accumulate the total income (Total) day by day (adds sales totals by date). Stop the loop when the accumulated revenue exceeds $1000 and print the corresponding day.

- Accumulate sales totals row by row. Stop the loop when the accumulated revenue exceeds $2000 and print how many sales were necessary.

- Use a combination of `for and while` loops to calculate a rolling cumulative revenue:

For each category, use a for loop to iterate over its transactions.
Use a while loop to stop accumulating revenue for a category once it exceeds $ 3000.

Print the cumulative revenue for each category and the number of transactions it took to exceed $3000.

- Use a `nested for` loop to:

Group the sales by year and by date.

For each year, determine the date with the highest total revenue and the revenue value.
This task requires grouping and iterating within groups.

## Part 3  Try, continue and catch exceptions

In this case you will work with a `students_grade.csv` dataset.

1. You are tasked with calculating the average grade for each student in the dataset. However, the dataset has some issues:

Some scores are marked as "missing" or "invalid" (strings instead of numeric values).
Some students may have incomplete grades across subjects.

To calculate the average:

Skip any "invalid" or "missing" values during calculations.
If a student has no valid grades, print a warning message for that student.


Use `try` and `except` to handle potential errors.
Use `continue` to skip invalid rows or scores.
Print the results in a clear format, showing the average grade for each student or a warning if no grades are available.

In [51]:
file_students_grade = pd.read_csv("students_grade.csv")
file_students_grade

    Student_ID              Name  Year     Math  English  Science  History
0          101          John Doe  2014       85       78       92       88
1          102        Jane Smith  2014       90  invalid       87       82
2          103       Emily White  2014  missing       89       94       85
3          104     Michael Brown  2014       88       84  missing       79
4          105       Sarah Davis  2014       91       87  invalid  missing
5          106     Chris Johnson  2014  missing       78       90       81
6          107          Anna Lee  2014       85  missing       93  missing
7          108      David Taylor  2015       82       79       95       88
8          109       Emma Wilson  2015       91       86       92  invalid
9          110     Daniel Harris  2015  missing  missing       93       89
10         111      Sophia Moore  2016       87       85  missing       84
11         112    James Anderson  2016  invalid       90       92       80
12         113     Olivia Thomas  2016       92       87       94       91
13         114  Isabella Jackson  2016       95  invalid       96       93
14         115    Lucas Martinez  2017       90       88       97       90
15         116        Mia Garcia  2017       88  invalid       95       91
16         117     Matthew Clark  2017  missing       92       94       93
17         118   Charlotte Lewis  2018       89       90  invalid  missing
18         119   Alexander Young  2018  invalid       88       93       94
19         120       Amelia King  2018       92       91       92       95
20         121      Ethan Wright  2019  missing       90       89  missing
21         122      Harper Scott  2019       94       87       92       96
22         123    Benjamin Green  2019       88       85  missing  missing
23         124       Evelyn Hall  2019  missing  invalid       91       92
24         125       Avery Adams  2020       93       89       92       93
25         126     Jackson Baker  2020  invalid       85       94       96
26         127       Lily Nelson  2020  missing       90       93       89
27         128     Elijah Carter  2020       94       88       96       92
28         129        Zoey Perez  2021       92  missing  invalid       91
29         130    Aiden Mitchell  2021       90  invalid       93       88
30         131     Layla Roberts  2021       85       86       92       94
31         132      Owen Ramirez  2021  invalid       88       91       93
32         133     Hannah Walker  2022       94  missing       94  invalid
33         134     Logan Collins  2022       88       84  missing       91
34         135   Abigail Sanders  2022  missing       89       92  missing
35         136     Jacob Edwards  2022       91       87       95       92
36         137   Scarlett Murphy  2022  invalid  invalid       93       95
37         138      Mason Barnes  2022       92       88       96       94
38         139         Aria Bell  2022       89  missing       94       93
39         140    Eleanor Fisher  2022  missing       90       92       91
40         141    Grayson Powell  2022  missing       88       94       89
41         142      Emily Hughes  2022       93       92  missing       90
42         143    Michael Foster  2022  missing  invalid       91  missing
43         144    Harper Simmons  2022       95       89       93       94

In [57]:
# Crear un diccionario para almacenar los promedios
student_averages = {}

# Iterar sobre cada fila del DataFrame
for index, row in file_students_grade.iterrows():
    student_name = row["Name"]  # Obtener el nombre del estudiante
    grades = []
    
    # Iterar sobre las materias
    for subject in ["Math", "English", "Science", "History"]:
        try:
            grade = float(row[subject])  # Intentar convertir la calificación a número
            grades.append(grade)  # Agregar calificación válida
        except (ValueError, TypeError):  # Capturar errores si el valor no es numérico
            continue  # Omitir el valor inválido y continuar

    # Calcular el promedio si hay calificaciones válidas
    if grades:
        student_averages[student_name] = sum(grades) / len(grades)
    else:
        print(f"Warning: {student_name} has no valid grades.")  # Mensaje de advertencia

# Mostrar los resultados
for student, avg in student_averages.items():
    print(f"{student}: Average Grade = {avg:.2f}")

John Doe: Average Grade = 85.75
Jane Smith: Average Grade = 86.33
Emily White: Average Grade = 89.33
Michael Brown: Average Grade = 83.67
Sarah Davis: Average Grade = 89.00
Chris Johnson: Average Grade = 83.00
Anna Lee: Average Grade = 89.00
David Taylor: Average Grade = 86.00
Emma Wilson: Average Grade = 89.67
Daniel Harris: Average Grade = 91.00
Sophia Moore: Average Grade = 85.33
James Anderson: Average Grade = 87.33
Olivia Thomas: Average Grade = 91.00
Isabella Jackson: Average Grade = 94.67
Lucas Martinez: Average Grade = 91.25
Mia Garcia: Average Grade = 91.33
Matthew Clark: Average Grade = 93.00
Charlotte Lewis: Average Grade = 89.50
Alexander Young: Average Grade = 91.67
Amelia King: Average Grade = 92.50
Ethan Wright: Average Grade = 89.50
Harper Scott: Average Grade = 92.25
Benjamin Green: Average Grade = 86.50
Evelyn Hall: Average Grade = 91.50
Avery Adams: Average Grade = 91.75
Jackson Baker: Average Grade = 91.67
Lily Nelson: Average Grade = 90.67
Elijah Carter: Average Grade = 92.50
Zoey Perez: Average Grade = 91.50
Aiden Mitchell: Average Grade = 90.33
Layla Roberts: Average Grade = 89.25
Owen Ramirez: Average Grade = 90.67
Hannah Walker: Average Grade = 94.00
Logan Collins: Average Grade = 87.67
Abigail Sanders: Average Grade = 90.50
Jacob Edwards: Average Grade = 91.25
Scarlett Murphy: Average Grade = 94.00
Mason Barnes: Average Grade = 92.50
Aria Bell: Average Grade = 92.00
Eleanor Fisher: Average Grade = 91.00
Grayson Powell: Average Grade = 90.33
Emily Hughes: Average Grade = 91.67
Michael Foster: Average Grade = 91.00
Harper Simmons: Average Grade = 92.75

2. Calculate the average grade per subject for each year.
Handle invalid or missing values during the calculation by skipping them.
Print the averages in a clean format (e.g., table or grouped output).

In [58]:
# Convertir columnas de calificaciones a valores numéricos, ignorando errores
grade_columns = ["Math", "English", "Science", "History"]
file_students_grade[grade_columns] = file_students_grade[grade_columns].apply(pd.to_numeric, errors="coerce")

# Calcular el promedio por año, omitiendo valores nulos
avg_per_year = file_students_grade.groupby("Year")[grade_columns].mean()

# Imprimir la tabla con formato
print("\nAverage Grades Per Year:\n")
print(f"{'Year':<6} {'Math':<10} {'English':<10} {'Science':<10} {'History':<10}")
print("-" * 50)

for year, row in avg_per_year.iterrows():
    print(f"{int(year):<6} {row['Math']:.2f}      {row['English']:.2f}      {row['Science']:.2f}      {row['History']:.2f}")

Average Grades Per Year:

Year   Math       English    Science    History
--------------------------------------------------
2014   87.80      83.20      91.20      83.00
2015   86.50      82.50      93.33      88.50
2016   91.33      87.33      94.00      87.00
2017   89.00      90.00      95.33      91.33
2018   90.50      89.67      92.50      94.50
2019   91.00      87.33      90.67      94.00
2020   93.50      88.00      93.75      92.50
2021   89.00      87.00      92.00      91.50
2022   91.71      88.38      93.40      92.11

3. Identify students who had an average grade of 90 or above across all years (excluding invalid/missing values).
If a student has no valid grades, skip them with a warning.

In [60]:
# Convertir columnas de calificaciones a valores numéricos, ignorando errores
grade_columns = ["Math", "English", "Science", "History"]
file_students_grade[grade_columns] = file_students_grade[grade_columns].apply(pd.to_numeric, errors="coerce")

# Calcular el promedio de cada estudiante, ignorando valores NaN
file_students_grade["Average"] = file_students_grade[grade_columns].mean(axis=1, skipna=True)

# Filtrar estudiantes con promedio >= 90
top_students = file_students_grade[file_students_grade["Average"] >= 90][["Student_ID", "Name", "Average"]]

# Imprimir resultados
if top_students.empty:
    print("No students have an average grade of 90 or above.")
else:
    print("\nStudents with an Average Grade of 90 or Above:\n")
    print(f"{'ID':<6} {'Name':<20} {'Average':<6}")
    print("-" * 35)
    for _, row in top_students.iterrows():
        print(f"{row['Student_ID']:<6} {row['Name']:<20} {row['Average']:.2f}")

# Advertir si algún estudiante no tiene notas válidas
students_with_no_valid_grades = file_students_grade[file_students_grade["Average"].isna()]
for _, row in students_with_no_valid_grades.iterrows():
    print(f"Warning: {row['Name']} (ID: {row['Student_ID']}) has no valid grades and was skipped.")

Students with an Average Grade of 90 or Above:

ID     Name                 Average
-----------------------------------
110    Daniel Harris        91.00
113    Olivia Thomas        91.00
114    Isabella Jackson     94.67
115    Lucas Martinez       91.25
116    Mia Garcia           91.33
117    Matthew Clark        93.00
119    Alexander Young      91.67
120    Amelia King          92.50
122    Harper Scott         92.25
124    Evelyn Hall          91.50
125    Avery Adams          91.75
126    Jackson Baker        91.67
127    Lily Nelson          90.67
128    Elijah Carter        92.50
129    Zoey Perez           91.50
130    Aiden Mitchell       90.33
132    Owen Ramirez         90.67
133    Hannah Walker        94.00
135    Abigail Sanders      90.50
136    Jacob Edwards        91.25
137    Scarlett Murphy      94.00
138    Mason Barnes         92.50
139    Aria Bell            92.00
140    Eleanor Fisher       91.00
141    Grayson Powell       90.33
142    Emily Hughes         91.67
143    Michael Foster       91.00
144    Harper Simmons       92.75