# Assignment_2
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

This assignment would evaluate tree core topics : pandas , loops  and try , continue , catch exceptions

## Part 1. Pandas

Use the next data base `nyc_taxis.csv` , its on the github page of the assignment

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calculate
1. The average distance of the trip  (`trip_distance`) for each month (`pickup_month`)
2. The total of trips from JFK for each day of the month
3. Calculate the average velocity according to `pickup_dayofweek`

In [142]:
import pandas as pd
nyc_taxis=pd.read_csv("nyc_taxis.csv")

In [144]:
#Call the Database
nyc_taxis=nyc_taxis[["pickup_month", "pickup_day", "pickup_dayofweek", "pickup_location_code", "dropoff_location_code", "trip_distance", "trip_length", "fare_amount", "total_amount"]]
print(nyc_taxis)

      pickup_month  pickup_day  pickup_dayofweek  pickup_location_code  \
0                1           1                 5                     2
1                1           1                 5                     2
2                1           1                 5                     2
3                1           1                 5                     2
4                1           1                 5                     2
...            ...         ...               ...                   ...
2008             6          30                 4                     3
2009             6          30                 4                     2
2010             6          30                 4                     2
2011             6          30                 4                     2
2012             6          30                 4                     2

      dropoff_location_code  trip_distance  trip_length  fare_amount  \
0                         4          21.00         2037         52.0
1                         1          16.29         1520         45.0
2                         6          12.70         1462         36.5
3                         6           8.70         1210         26.0
4                         6           5.56          759         17.5
...                     ...            ...          ...          ...
2008                      4           9.50         1989         31.0
2009                      4          19.80         2368         52.0
2010                      4          17.48         2822         52.0
2011                      6          12.76         1083         34.5
2012                      0          17.54         1711         48.0

      total_amount
0            69.99
1            54.30
2            37.80
3            32.76
4            18.80
...            ...
2008         40.84
2009         58.34
2010         63.34
2011         44.75
2012         54.84

[2013 rows x 9 columns]

In [146]:
#The average distance of the trip (trip_distance) for each month (pickup_month)

#Pick up month and trip distance
nyc_taxis_1=nyc_taxis[["pickup_month","trip_distance"]]
print(nyc_taxis_1)

# Group by pickup_month and calculate mean trip_distance
monthly_avg_distance = nyc_taxis_1.groupby('pickup_month')['trip_distance'].mean()
print(monthly_avg_distance)

      pickup_month  trip_distance
0                1          21.00
1                1          16.29
2                1          12.70
3                1           8.70
4                1           5.56
...            ...            ...
2008             6           9.50
2009             6          19.80
2010             6          17.48
2011             6          12.76
2012             6          17.54

[2013 rows x 2 columns]
pickup_month
1    13.039750
2    13.145227
3    12.702256
4    12.808012
6    12.964744
Name: trip_distance, dtype: float64

In [148]:
#The total of trips from JFK for each day of the month
nyc_taxis_2 = nyc_taxis[nyc_taxis['pickup_location_code'] == 2][['pickup_month', 'pickup_location_code']]
print(nyc_taxis_2)

#Trips per month but only about JFK airport
trips_per_month = nyc_taxis[nyc_taxis['pickup_location_code'] == 2].groupby('pickup_month')['pickup_location_code'].count()

trips_per_month = trips_per_month.reset_index(name='total_trips')
print("\nTotal of trips from JFK for each day of the month:")
print(trips_per_month)

      pickup_month  pickup_location_code
0                1                     2
1                1                     2
2                1                     2
3                1                     2
4                1                     2
...            ...                   ...
2004             6                     2
2009             6                     2
2010             6                     2
2011             6                     2
2012             6                     2

[724 rows x 2 columns]

Total of trips from JFK for each day of the month:
   pickup_month  total_trips
0             1          330
1             2           60
2             3          162
3             4           63
4             6          109

In [150]:
# Calculate the average velocity (speed) for each day of the week (pickup_dayofweek)
nyc_taxis["velocity"] = nyc_taxis["trip_distance"] / nyc_taxis["trip_length"]

# Calculate the average velocity by pickup_dayofweek using groupby
avg_velocity_by_day = nyc_taxis.groupby('pickup_dayofweek')['velocity'].mean()

# Convert to DataFrame for better visualization
velocity_summary_df = avg_velocity_by_day.reset_index(name='avg_velocity')

# Sort by day of week to ensure order
velocity_summary_df = velocity_summary_df.sort_values('pickup_dayofweek')

# Print the result
print("The average velocity for each day of the week:")
print(velocity_summary_df)

The average velocity for each day of the week:
   pickup_dayofweek  avg_velocity
0                 1      0.036826
1                 2      0.007596
2                 3      0.081112
3                 4      0.025408
4                 5      0.042695
5                 6      0.102427
6                 7      0.039451

In [152]:
# Now calculate velocity with kilometers per hour:
# Distance: miles to kilometers (1 mile = 1.60934 km)
#Time: seconds to hours (1 hour = 3600 seconds)
nyc_taxis["velocity_kmh"] = (nyc_taxis["trip_distance"] * 1.60934) / (nyc_taxis["trip_length"] / 3600)

# Calculate average velocity by day using groupby
avg_velocity_by_day = nyc_taxis.groupby('pickup_dayofweek')['velocity_kmh'].mean()

# Convert to DataFrame for better visualization
velocity_summary_df = avg_velocity_by_day.reset_index(name='avg_velocity_kmh')

# Sort by day of the week
velocity_summary_df = velocity_summary_df.sort_values('pickup_dayofweek')

# Round to 2 decimal places
velocity_summary_df['avg_velocity_kmh'] = velocity_summary_df['avg_velocity_kmh'].round(2)

print("The average velocity for each day of the week (km/h):")
print(velocity_summary_df)

The average velocity for each day of the week (km/h):
   pickup_dayofweek  avg_velocity_kmh
0                 1            213.35
1                 2             44.01
2                 3            469.93
3                 4            147.20
4                 5            247.36
5                 6            593.42
6                 7            228.57

## Part 2 Loops- For loops , while loops

a. Using a  “for loop” and the conditional “if else” for a range bettewn 1 to 100, evaluate "x" so that:
If x is a multiple of 3 print  “Fizz”
If x is a multiple of 5 print  “Buzz”
If x is a multiple of 3 and 5 print “FizzBuzz”

b.You are a data analyst at an online store and you have a file containing information about sales for the last year. 

Here are the name of the columns

- `Date`: Transaction date (format: YYYY-MM-DD)
- `Product`: Name of the product sold
- `Quantity`: Number of units sold
- `Price`: Unit price of the product in dollars
- `Category`: Product Category (Electronics, Clothing, Home)
- `Sale_ID`: A unique identifier for each transaction

Read the `sales.csv` file using pandas:

- Display the first few rows using `.head()`.

Create a new column:
- Calculate the total for each transaction (multiply `quantity` by `price`) and store it in a new column called `Total`.

- Create a new DataFrame called `df_electronic` that contains only sales from the `electronics` category.
- Calculate the total income of the `electronics` category.

- Group sales by `category` and calculate the total income for each one.

- Identify the product with the highest total quantity sold (`quantity`).

Using a for loop:
- Print the ID of each sale (`sales_ID`) along with the total of that sale.

- Display the details of all sales (ID, Product, Total) whose revenue (`total`) is greater than $500.

- Using a dictionary and a `for loop`  count the total amount of products sold for each category

Using a while loop:
- Accumulate the total income (Total) day by day (adds sales totals by date). Stop the loop when the accumulated revenue exceeds $1000 and print the corresponding day.

- Accumulate sales totals row by row. Stop the loop when the accumulated revenue exceeds $2000 and print how many sales were necessary.

- Use a combination of `for and while` loops to calculate a rolling cumulative revenue:

For each category, use a for loop to iterate over its transactions.
Use a while loop to stop accumulating revenue for a category once it exceeds $ 3000.

Print the cumulative revenue for each category and the number of transactions it took to exceed $3000.

- Use a `nested for` loop to:

Group the sales by year and by date.

For each year, determine the date with the highest total revenue and the revenue value.
This task requires grouping and iterating within groups.

## Part 3  Try, continue and catch exceptions

In this case you will work with a `students_grade.csv` dataset.

1. You are tasked with calculating the average grade for each student in the dataset. However, the dataset has some issues:

Some scores are marked as "missing" or "invalid" (strings instead of numeric values).
Some students may have incomplete grades across subjects.

To calculate the average:

Skip any "invalid" or "missing" values during calculations.
If a student has no valid grades, print a warning message for that student.


Use `try` and `except` to handle potential errors.
Use `continue` to skip invalid rows or scores.
Print the results in a clear format, showing the average grade for each student or a warning if no grades are available.

2. Calculate the average grade per subject for each year.
Handle invalid or missing values during the calculation by skipping them.
Print the averages in a clean format (e.g., table or grouped output).

3. Identify students who had an average grade of 90 or above across all years (excluding invalid/missing values).
If a student has no valid grades, skip them with a warning.