In [64]:
import pandas as pd
nyc_taxis=pd.read_csv("nyc_taxis.csv")

#Call the Database
nyc_taxis=nyc_taxis[["pickup_month", "pickup_day", "pickup_dayofweek", "pickup_location_code", "dropoff_location_code", "trip_distance", "trip_length", "fare_amount", "total_amount"]]
print(nyc_taxis)

#The average distance of the trip (trip_distance) for each month (pickup_month)

#Pick up month and trip distance
nyc_taxis_1=nyc_taxis[["pickup_month","trip_distance"]]
print(nyc_taxis_1)

# Group by pickup_month and calculate mean trip_distance
monthly_avg_distance = nyc_taxis_1.groupby('pickup_month')['trip_distance'].mean()
print(monthly_avg_distance)

      pickup_month  pickup_day  pickup_dayofweek  pickup_location_code  \
0                1           1                 5                     2
1                1           1                 5                     2
2                1           1                 5                     2
3                1           1                 5                     2
4                1           1                 5                     2
...            ...         ...               ...                   ...
2008             6          30                 4                     3
2009             6          30                 4                     2
2010             6          30                 4                     2
2011             6          30                 4                     2
2012             6          30                 4                     2

      dropoff_location_code  trip_distance  trip_length  fare_amount  \
0                         4          21.00         2037         52.0
1                         1          16.29         1520         45.0
2                         6          12.70         1462         36.5
3                         6           8.70         1210         26.0
4                         6           5.56          759         17.5
...                     ...            ...          ...          ...
2008                      4           9.50         1989         31.0
2009                      4          19.80         2368         52.0
2010                      4          17.48         2822         52.0
2011                      6          12.76         1083         34.5
2012                      0          17.54         1711         48.0

      total_amount
0            69.99
1            54.30
2            37.80
3            32.76
4            18.80
...            ...
2008         40.84
2009         58.34
2010         63.34
2011         44.75
2012         54.84

[2013 rows x 9 columns]
      pickup_month  trip_distance
0                1          21.00
1                1          16.29
2                1          12.70
3                1           8.70
4                1           5.56
...            ...            ...
2008             6           9.50
2009             6          19.80
2010             6          17.48
2011             6          12.76
2012             6          17.54

[2013 rows x 2 columns]
pickup_month
1    13.039750
2    13.145227
3    12.702256
4    12.808012
6    12.964744
Name: trip_distance, dtype: float64

In [66]:
#The total of trips from JFK for each day of the month
nyc_taxis_2 = nyc_taxis[nyc_taxis['pickup_location_code'] == 2][['pickup_month', 'pickup_location_code']]
print(nyc_taxis_2)

#Trips per month but only about JFK airport
trips_per_month = nyc_taxis[nyc_taxis['pickup_location_code'] == 2].groupby('pickup_month')['pickup_location_code'].count()

trips_per_month = trips_per_month.reset_index(name='total_trips')
print("\nTotal of trips from JFK for each day of the month:")
print(trips_per_month)

      pickup_month  pickup_location_code
0                1                     2
1                1                     2
2                1                     2
3                1                     2
4                1                     2
...            ...                   ...
2004             6                     2
2009             6                     2
2010             6                     2
2011             6                     2
2012             6                     2

[724 rows x 2 columns]

Total of trips from JFK for each day of the month:
   pickup_month  total_trips
0             1          330
1             2           60
2             3          162
3             4           63
4             6          109

In [68]:
# Calculate the average velocity (speed) for each day of the week (pickup_dayofweek)
nyc_taxis["velocity"] = nyc_taxis["trip_distance"] / nyc_taxis["trip_length"]

# Calculate the average velocity by pickup_dayofweek using groupby
avg_velocity_by_day = nyc_taxis.groupby('pickup_dayofweek')['velocity'].mean()

# Convert to DataFrame for better visualization
velocity_summary_df = avg_velocity_by_day.reset_index(name='avg_velocity')

# Sort by day of week to ensure order
velocity_summary_df = velocity_summary_df.sort_values('pickup_dayofweek')

# Print the result
print("The average velocity for each day of the week:")
print(velocity_summary_df)

The average velocity for each day of the week:
   pickup_dayofweek  avg_velocity
0                 1      0.036826
1                 2      0.007596
2                 3      0.081112
3                 4      0.025408
4                 5      0.042695
5                 6      0.102427
6                 7      0.039451

In [71]:
# Now calculate velocity with kilometers per hour:
# Distance: miles to kilometers (1 mile = 1.60934 km)
#Time: seconds to hours (1 hour = 3600 seconds)
nyc_taxis["velocity_kmh"] = (nyc_taxis["trip_distance"] * 1.60934) / (nyc_taxis["trip_length"] / 3600)

# Calculate average velocity by day using groupby
avg_velocity_by_day = nyc_taxis.groupby('pickup_dayofweek')['velocity_kmh'].mean()

# Convert to DataFrame for better visualization
velocity_summary_df = avg_velocity_by_day.reset_index(name='avg_velocity_kmh')

# Sort by day of the week
velocity_summary_df = velocity_summary_df.sort_values('pickup_dayofweek')

# Round to 2 decimal places
velocity_summary_df['avg_velocity_kmh'] = velocity_summary_df['avg_velocity_kmh'].round(2)

print("The average velocity for each day of the week (km/h):")
print(velocity_summary_df)

The average velocity for each day of the week (km/h):
   pickup_dayofweek  avg_velocity_kmh
0                 1            213.35
1                 2             44.01
2                 3            469.93
3                 4            147.20
4                 5            247.36
5                 6            593.42
6                 7            228.57

In [36]:
for x in range(1, 101):  # Iteramos del 1 al 100
    if x % 3 == 0 and x % 5 == 0:  # Si es múltiplo de 3 y 5
        print("FizzBuzz")
    elif x % 3 == 0:  # Si es múltiplo de 3
        print("Fizz")
    elif x % 5 == 0:  # Si es múltiplo de 5
        print("Buzz")
    else:  # Si no es múltiplo ni de 3 ni de 5
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
import pandas as pd

# Leemos el archivo CSV
df = pd.read_csv('sales.csv')

# Mostramos las primeras filas del dataframe
print(df.head())

# Creamos la nueva columna 'Total' multiplicando 'Quantity' por 'Price'
df['Total'] = df['Quantity'] * df['Price']

# Mostramos el dataframe actualizado con la nueva columna 'Total'
print(df.head())

In [38]:
import pandas as pd

# Leemos el archivo CSV
df = pd.read_csv('sales.csv')

# Mostramos las primeras filas del dataframe
print(df.head())

# Creamos la nueva columna 'Total' multiplicando 'Quantity' por 'Price'
df['Total'] = df['Quantity'] * df['Price']

# Mostramos el dataframe actualizado con la nueva columna 'Total'
print(df.head())

         Date          Product  Quantity  Price     Category  Sale_ID
0  2023-01-01           Laptop         1   1000  Electronics     1001
1  2023-01-01          T-Shirt         2     20     Clothing     1002
2  2023-01-02  Washing Machine         1    500         Home     1003
3  2023-01-02       Headphones         3     50  Electronics     1004
4  2023-01-03            Pants         1     30     Clothing     1005
         Date          Product  Quantity  Price     Category  Sale_ID  Total
0  2023-01-01           Laptop         1   1000  Electronics     1001   1000
1  2023-01-01          T-Shirt         2     20     Clothing     1002     40
2  2023-01-02  Washing Machine         1    500         Home     1003    500
3  2023-01-02       Headphones         3     50  Electronics     1004    150
4  2023-01-03            Pants         1     30     Clothing     1005     30

In [40]:
# Filtramos las ventas de la categoría 'Electronics'
df_electronic = df[df['Category'] == 'Electronics']

# Calcular el ingreso total de la categoría 'Electronics'
total_income_electronics = df_electronic['Total'].sum()
print("Ingreso total de la categoría Electronics:", total_income_electronics)

# Agrupar las ventas por categoría y calcular el ingreso total para cada una
income_by_category = df.groupby('Category')['Total'].sum()
print("\nIngreso total por categoría:")
print(income_by_category)

# Identificar el producto con la mayor cantidad total vendida
product_with_highest_quantity = df.groupby('Product')['Quantity'].sum().idxmax()
print("\nProducto con la mayor cantidad total vendida:", product_with_highest_quantity)

Ingreso total de la categoría Electronics: 10395

Ingreso total por categoría:
Category
Clothing        1700
Electronics    10395
Home            6150
Name: Total, dtype: int64

Producto con la mayor cantidad total vendida: Laptop

In [42]:
# Usamos un ciclo for para iterar sobre cada fila del DataFrame
for index, row in df.iterrows():
    # Imprimimos el ID de la venta y el total de esa venta
    print(f"Sale ID: {row['Sale_ID']}, Total: {row['Total']}")

Sale ID: 1001, Total: 1000
Sale ID: 1002, Total: 40
Sale ID: 1003, Total: 500
Sale ID: 1004, Total: 150
Sale ID: 1005, Total: 30
Sale ID: 1006, Total: 800
Sale ID: 1007, Total: 200
Sale ID: 1008, Total: 100
Sale ID: 1009, Total: 700
Sale ID: 1010, Total: 120
Sale ID: 2001, Total: 2000
Sale ID: 2002, Total: 750
Sale ID: 2003, Total: 125
Sale ID: 2004, Total: 1200
Sale ID: 2005, Total: 120
Sale ID: 2006, Total: 300
Sale ID: 2007, Total: 100
Sale ID: 2008, Total: 900
Sale ID: 2009, Total: 600
Sale ID: 2010, Total: 240
Sale ID: 2011, Total: 75
Sale ID: 2012, Total: 600
Sale ID: 2013, Total: 400
Sale ID: 3001, Total: 2850
Sale ID: 3002, Total: 280
Sale ID: 3003, Total: 700
Sale ID: 3004, Total: 600
Sale ID: 3005, Total: 165
Sale ID: 3006, Total: 150
Sale ID: 3007, Total: 600
Sale ID: 3008, Total: 200
Sale ID: 3009, Total: 450
Sale ID: 3010, Total: 1200

In [44]:
# Filtrar las ventas cuyo total es mayor a 500
df_high_revenue = df[df['Total'] > 500]

# Mostrar los detalles (ID, Product, Total) de las ventas filtradas
print(df_high_revenue[['Sale_ID', 'Product', 'Total']])

    Sale_ID         Product  Total
0      1001          Laptop   1000
5      1006      Television    800
8      1009            Sofa    700
10     2001          Laptop   2000
11     2002      Television    750
13     2004    Refrigerator   1200
17     2008           Phone    900
18     2009      Dishwasher    600
21     2012           Chair    600
23     3001          Laptop   2850
25     3003  Vacuum Cleaner    700
26     3004          Tablet    600
29     3007         Monitor    600
32     3010             Bed   1200

In [46]:
# Crear un diccionario vacío para almacenar las cantidades por categoría
category_sales = {}

# Iterar sobre cada fila del DataFrame
for index, row in df.iterrows():
    category = row['Category']  # Obtener la categoría de la venta
    quantity = row['Quantity']  # Obtener la cantidad vendida

    # Si la categoría ya está en el diccionario, sumamos la cantidad
    if category in category_sales:
        category_sales[category] += quantity
    else:
        # Si la categoría no está en el diccionario, la añadimos con la cantidad actual
        category_sales[category] = quantity

# Imprimir el total de productos vendidos por cada categoría
for category, total_quantity in category_sales.items():
    print(f"Categoría: {category}, Total vendido: {total_quantity}")

Categoría: Electronics, Total vendido: 30
Categoría: Clothing, Total vendido: 24
Categoría: Home, Total vendido: 19

In [48]:
# Ordenamos el DataFrame por fecha para asegurarnos de que las ventas se procesen en orden
df_sorted = df.sort_values(by='Date')

# Inicializamos variables
accumulated_income = 0
current_index = 0

# Usamos un ciclo while para acumular el ingreso día por día
while accumulated_income <= 1000 and current_index < len(df_sorted):
    # Obtenemos la fecha y el total de la venta actual
    current_sale = df_sorted.iloc[current_index]
    sale_date = current_sale['Date']
    sale_total = current_sale['Total']

    # Acumulamos el total de la venta
    accumulated_income += sale_total
    
    # Si el ingreso acumulado excede $1000, imprimimos el día
    if accumulated_income > 1000:
        print(f"El ingreso acumulado excede $1000 en el día {sale_date}")
        break

    # Avanzamos al siguiente índice
    current_index += 1

El ingreso acumulado excede $1000 en el día 2023-01-01

In [50]:
# Inicializamos variables
accumulated_income = 0
sales_count = 0

# Usamos un ciclo while para acumular el ingreso fila por fila
while accumulated_income <= 2000 and sales_count < len(df):
    # Obtenemos el total de la venta actual
    current_sale_total = df.iloc[sales_count]['Total']
    
    # Acumulamos el total de la venta
    accumulated_income += current_sale_total
    
    # Aumentamos el contador de ventas
    sales_count += 1

# Imprimimos cuántas ventas fueron necesarias para superar los $2000
if accumulated_income > 2000:
    print(f"Se necesitaron {sales_count} ventas para superar los $2000.")
else:
    print("No se superaron los $2000 con las ventas disponibles.")

Se necesitaron 6 ventas para superar los $2000.

In [52]:
# Iteramos sobre cada categoría única
for category in df['Category'].unique():
    # Filtramos las ventas por categoría
    category_sales = df[df['Category'] == category]
    
    # Inicializamos variables para acumular el ingreso y contar las transacciones
    accumulated_income = 0
    transaction_count = 0
    
    # Usamos un ciclo while para acumular las ventas de la categoría
    while accumulated_income <= 3000 and transaction_count < len(category_sales):
        # Obtenemos el total de la venta de la transacción actual
        current_sale_total = category_sales.iloc[transaction_count]['Total']
        
        # Acumulamos el total de la venta
        accumulated_income += current_sale_total
        
        # Aumentamos el contador de transacciones
        transaction_count += 1
    
    # Imprimimos los resultados para la categoría actual
    print(f"Categoría: {category}")
    print(f"Ingreso acumulado: ${accumulated_income}")
    print(f"Número de transacciones para superar los $3000: {transaction_count}")
    print("-" * 50)

Categoría: Electronics
Ingreso acumulado: $4050
Número de transacciones para superar los $3000: 5
--------------------------------------------------
Categoría: Clothing
Ingreso acumulado: $1700
Número de transacciones para superar los $3000: 10
--------------------------------------------------
Categoría: Home
Ingreso acumulado: $3500
Número de transacciones para superar los $3000: 6
--------------------------------------------------

In [54]:
# Asegurarnos de que la columna 'Date' esté en formato datetime
df['Date'] = pd.to_datetime(df['Date'])

# Añadimos una nueva columna para el año
df['Year'] = df['Date'].dt.year

# Agrupamos por 'Year' y luego por 'Date'
grouped_by_year_date = df.groupby(['Year', 'Date'])

# Iteramos sobre cada año
for year, year_group in grouped_by_year_date:
    # Calculamos el ingreso total por fecha dentro de ese año
    daily_revenue = year_group.groupby('Date')['Total'].sum()
    
    # Encontramos la fecha con el mayor ingreso para ese año
    max_date = daily_revenue.idxmax()  # Fecha con el mayor ingreso
    max_revenue = daily_revenue.max()  # Valor del mayor ingreso
    
    # Imprimimos el resultado para ese año
    print(f"Año: {year}")
    print(f"Fecha con el mayor ingreso: {max_date}")
    print(f"Ingreso total: ${max_revenue}")
    print("-" * 50)

Año: (2023, Timestamp('2023-01-01 00:00:00'))
Fecha con el mayor ingreso: 2023-01-01 00:00:00
Ingreso total: $1040
--------------------------------------------------
Año: (2023, Timestamp('2023-01-02 00:00:00'))
Fecha con el mayor ingreso: 2023-01-02 00:00:00
Ingreso total: $650
--------------------------------------------------
Año: (2023, Timestamp('2023-01-03 00:00:00'))
Fecha con el mayor ingreso: 2023-01-03 00:00:00
Ingreso total: $830
--------------------------------------------------
Año: (2023, Timestamp('2023-01-04 00:00:00'))
Fecha con el mayor ingreso: 2023-01-04 00:00:00
Ingreso total: $200
--------------------------------------------------
Año: (2023, Timestamp('2023-01-05 00:00:00'))
Fecha con el mayor ingreso: 2023-01-05 00:00:00
Ingreso total: $800
--------------------------------------------------
Año: (2023, Timestamp('2023-01-06 00:00:00'))
Fecha con el mayor ingreso: 2023-01-06 00:00:00
Ingreso total: $120
--------------------------------------------------
Año: (2024, Timestamp('2024-01-01 00:00:00'))
Fecha con el mayor ingreso: 2024-01-01 00:00:00
Ingreso total: $2000
--------------------------------------------------
Año: (2024, Timestamp('2024-01-02 00:00:00'))
Fecha con el mayor ingreso: 2024-01-02 00:00:00
Ingreso total: $750
--------------------------------------------------
Año: (2024, Timestamp('2024-01-03 00:00:00'))
Fecha con el mayor ingreso: 2024-01-03 00:00:00
Ingreso total: $125
--------------------------------------------------
Año: (2024, Timestamp('2024-01-04 00:00:00'))
Fecha con el mayor ingreso: 2024-01-04 00:00:00
Ingreso total: $1320
--------------------------------------------------
Año: (2024, Timestamp('2024-01-05 00:00:00'))
Fecha con el mayor ingreso: 2024-01-05 00:00:00
Ingreso total: $300
--------------------------------------------------
Año: (2024, Timestamp('2024-01-06 00:00:00'))
Fecha con el mayor ingreso: 2024-01-06 00:00:00
Ingreso total: $100
--------------------------------------------------
Año: (2024, Timestamp('2024-02-01 00:00:00'))
Fecha con el mayor ingreso: 2024-02-01 00:00:00
Ingreso total: $900
--------------------------------------------------
Año: (2024, Timestamp('2024-02-02 00:00:00'))
Fecha con el mayor ingreso: 2024-02-02 00:00:00
Ingreso total: $600
--------------------------------------------------
Año: (2024, Timestamp('2024-02-03 00:00:00'))
Fecha con el mayor ingreso: 2024-02-03 00:00:00
Ingreso total: $240
--------------------------------------------------
Año: (2024, Timestamp('2024-02-04 00:00:00'))
Fecha con el mayor ingreso: 2024-02-04 00:00:00
Ingreso total: $75
--------------------------------------------------
Año: (2024, Timestamp('2024-02-05 00:00:00'))
Fecha con el mayor ingreso: 2024-02-05 00:00:00
Ingreso total: $600
--------------------------------------------------
Año: (2024, Timestamp('2024-02-06 00:00:00'))
Fecha con el mayor ingreso: 2024-02-06 00:00:00
Ingreso total: $400
--------------------------------------------------
Año: (2025, Timestamp('2025-01-01 00:00:00'))
Fecha con el mayor ingreso: 2025-01-01 00:00:00
Ingreso total: $2850
--------------------------------------------------
Año: (2025, Timestamp('2025-01-02 00:00:00'))
Fecha con el mayor ingreso: 2025-01-02 00:00:00
Ingreso total: $280
--------------------------------------------------
Año: (2025, Timestamp('2025-01-03 00:00:00'))
Fecha con el mayor ingreso: 2025-01-03 00:00:00
Ingreso total: $1300
--------------------------------------------------
Año: (2025, Timestamp('2025-01-04 00:00:00'))
Fecha con el mayor ingreso: 2025-01-04 00:00:00
Ingreso total: $165
--------------------------------------------------
Año: (2025, Timestamp('2025-01-05 00:00:00'))
Fecha con el mayor ingreso: 2025-01-05 00:00:00
Ingreso total: $150
--------------------------------------------------
Año: (2025, Timestamp('2025-01-06 00:00:00'))
Fecha con el mayor ingreso: 2025-01-06 00:00:00
Ingreso total: $600
--------------------------------------------------
Año: (2025, Timestamp('2025-01-07 00:00:00'))
Fecha con el mayor ingreso: 2025-01-07 00:00:00
Ingreso total: $200
--------------------------------------------------
Año: (2025, Timestamp('2025-01-08 00:00:00'))
Fecha con el mayor ingreso: 2025-01-08 00:00:00
Ingreso total: $450
--------------------------------------------------
Año: (2025, Timestamp('2025-01-09 00:00:00'))
Fecha con el mayor ingreso: 2025-01-09 00:00:00
Ingreso total: $1200
--------------------------------------------------

In [56]:
import pandas as pd  
file_students_grade=pd.read_csv("students_grade.csv")
file_students_grade

    Student_ID              Name  Year     Math  English  Science  History
0          101          John Doe  2014       85       78       92       88
1          102        Jane Smith  2014       90  invalid       87       82
2          103       Emily White  2014  missing       89       94       85
3          104     Michael Brown  2014       88       84  missing       79
4          105       Sarah Davis  2014       91       87  invalid  missing
5          106     Chris Johnson  2014  missing       78       90       81
6          107          Anna Lee  2014       85  missing       93  missing
7          108      David Taylor  2015       82       79       95       88
8          109       Emma Wilson  2015       91       86       92  invalid
9          110     Daniel Harris  2015  missing  missing       93       89
10         111      Sophia Moore  2016       87       85  missing       84
11         112    James Anderson  2016  invalid       90       92       80
12         113     Olivia Thomas  2016       92       87       94       91
13         114  Isabella Jackson  2016       95  invalid       96       93
14         115    Lucas Martinez  2017       90       88       97       90
15         116        Mia Garcia  2017       88  invalid       95       91
16         117     Matthew Clark  2017  missing       92       94       93
17         118   Charlotte Lewis  2018       89       90  invalid  missing
18         119   Alexander Young  2018  invalid       88       93       94
19         120       Amelia King  2018       92       91       92       95
20         121      Ethan Wright  2019  missing       90       89  missing
21         122      Harper Scott  2019       94       87       92       96
22         123    Benjamin Green  2019       88       85  missing  missing
23         124       Evelyn Hall  2019  missing  invalid       91       92
24         125       Avery Adams  2020       93       89       92       93
25         126     Jackson Baker  2020  invalid       85       94       96
26         127       Lily Nelson  2020  missing       90       93       89
27         128     Elijah Carter  2020       94       88       96       92
28         129        Zoey Perez  2021       92  missing  invalid       91
29         130    Aiden Mitchell  2021       90  invalid       93       88
30         131     Layla Roberts  2021       85       86       92       94
31         132      Owen Ramirez  2021  invalid       88       91       93
32         133     Hannah Walker  2022       94  missing       94  invalid
33         134     Logan Collins  2022       88       84  missing       91
34         135   Abigail Sanders  2022  missing       89       92  missing
35         136     Jacob Edwards  2022       91       87       95       92
36         137   Scarlett Murphy  2022  invalid  invalid       93       95
37         138      Mason Barnes  2022       92       88       96       94
38         139         Aria Bell  2022       89  missing       94       93
39         140    Eleanor Fisher  2022  missing       90       92       91
40         141    Grayson Powell  2022  missing       88       94       89
41         142      Emily Hughes  2022       93       92  missing       90
42         143    Michael Foster  2022  missing  invalid       91  missing
43         144    Harper Simmons  2022       95       89       93       94

In [58]:
import pandas as pd

# Definir una función para calcular el promedio por estudiante
def calculate_average(row):
    # Filtrar las calificaciones válidas (numéricas) directamente
    grades = row[["Math", "English", "Science", "History"]].apply(pd.to_numeric, errors='coerce')
    valid_grades = grades.dropna()  # Eliminar valores no válidos (NaN)
    
    # Devolver el promedio si hay calificaciones válidas, o None si no
    return valid_grades.mean() if not valid_grades.empty else None

# Aplicar la función a cada fila del DataFrame para calcular el promedio
file_students_grade["Average"] = file_students_grade.apply(calculate_average, axis=1)

# Mostrar el DataFrame con la nueva columna de promedios
print(file_students_grade)

# registrar el promedio por estudiante
for student, average in file_students_grade[["Name", "Average"]].dropna().values:
    print(f"{student}: Avg grade = {average:.2f}")

    Student_ID              Name  Year     Math  English  Science  History  \
0          101          John Doe  2014       85       78       92       88
1          102        Jane Smith  2014       90  invalid       87       82
2          103       Emily White  2014  missing       89       94       85
3          104     Michael Brown  2014       88       84  missing       79
4          105       Sarah Davis  2014       91       87  invalid  missing
5          106     Chris Johnson  2014  missing       78       90       81
6          107          Anna Lee  2014       85  missing       93  missing
7          108      David Taylor  2015       82       79       95       88
8          109       Emma Wilson  2015       91       86       92  invalid
9          110     Daniel Harris  2015  missing  missing       93       89
10         111      Sophia Moore  2016       87       85  missing       84
11         112    James Anderson  2016  invalid       90       92       80
12         113     Olivia Thomas  2016       92       87       94       91
13         114  Isabella Jackson  2016       95  invalid       96       93
14         115    Lucas Martinez  2017       90       88       97       90
15         116        Mia Garcia  2017       88  invalid       95       91
16         117     Matthew Clark  2017  missing       92       94       93
17         118   Charlotte Lewis  2018       89       90  invalid  missing
18         119   Alexander Young  2018  invalid       88       93       94
19         120       Amelia King  2018       92       91       92       95
20         121      Ethan Wright  2019  missing       90       89  missing
21         122      Harper Scott  2019       94       87       92       96
22         123    Benjamin Green  2019       88       85  missing  missing
23         124       Evelyn Hall  2019  missing  invalid       91       92
24         125       Avery Adams  2020       93       89       92       93
25         126     Jackson Baker  2020  invalid       85       94       96
26         127       Lily Nelson  2020  missing       90       93       89
27         128     Elijah Carter  2020       94       88       96       92
28         129        Zoey Perez  2021       92  missing  invalid       91
29         130    Aiden Mitchell  2021       90  invalid       93       88
30         131     Layla Roberts  2021       85       86       92       94
31         132      Owen Ramirez  2021  invalid       88       91       93
32         133     Hannah Walker  2022       94  missing       94  invalid
33         134     Logan Collins  2022       88       84  missing       91
34         135   Abigail Sanders  2022  missing       89       92  missing
35         136     Jacob Edwards  2022       91       87       95       92
36         137   Scarlett Murphy  2022  invalid  invalid       93       95
37         138      Mason Barnes  2022       92       88       96       94
38         139         Aria Bell  2022       89  missing       94       93
39         140    Eleanor Fisher  2022  missing       90       92       91
40         141    Grayson Powell  2022  missing       88       94       89
41         142      Emily Hughes  2022       93       92  missing       90
42         143    Michael Foster  2022  missing  invalid       91  missing
43         144    Harper Simmons  2022       95       89       93       94

      Average
0   85.750000
1   86.333333
2   89.333333
3   83.666667
4   89.000000
5   83.000000
6   89.000000
7   86.000000
8   89.666667
9   91.000000
10  85.333333
11  87.333333
12  91.000000
13  94.666667
14  91.250000
15  91.333333
16  93.000000
17  89.500000
18  91.666667
19  92.500000
20  89.500000
21  92.250000
22  86.500000
23  91.500000
24  91.750000
25  91.666667
26  90.666667
27  92.500000
28  91.500000
29  90.333333
30  89.250000
31  90.666667
32  94.000000
33  87.666667
34  90.500000
35  91.250000
36  94.000000
37  92.500000
38  92.000000
39  91.000000
40  90.333333
41  91.666667
42  91.000000
43  92.750000
John Doe: Avg grade = 85.75
Jane Smith: Avg grade = 86.33
Emily White: Avg grade = 89.33
Michael Brown: Avg grade = 83.67
Sarah Davis: Avg grade = 89.00
Chris Johnson: Avg grade = 83.00
Anna Lee: Avg grade = 89.00
David Taylor: Avg grade = 86.00
Emma Wilson: Avg grade = 89.67
Daniel Harris: Avg grade = 91.00
Sophia Moore: Avg grade = 85.33
James Anderson: Avg grade = 87.33
Olivia Thomas: Avg grade = 91.00
Isabella Jackson: Avg grade = 94.67
Lucas Martinez: Avg grade = 91.25
Mia Garcia: Avg grade = 91.33
Matthew Clark: Avg grade = 93.00
Charlotte Lewis: Avg grade = 89.50
Alexander Young: Avg grade = 91.67
Amelia King: Avg grade = 92.50
Ethan Wright: Avg grade = 89.50
Harper Scott: Avg grade = 92.25
Benjamin Green: Avg grade = 86.50
Evelyn Hall: Avg grade = 91.50
Avery Adams: Avg grade = 91.75
Jackson Baker: Avg grade = 91.67
Lily Nelson: Avg grade = 90.67
Elijah Carter: Avg grade = 92.50
Zoey Perez: Avg grade = 91.50
Aiden Mitchell: Avg grade = 90.33
Layla Roberts: Avg grade = 89.25
Owen Ramirez: Avg grade = 90.67
Hannah Walker: Avg grade = 94.00
Logan Collins: Avg grade = 87.67
Abigail Sanders: Avg grade = 90.50
Jacob Edwards: Avg grade = 91.25
Scarlett Murphy: Avg grade = 94.00
Mason Barnes: Avg grade = 92.50
Aria Bell: Avg grade = 92.00
Eleanor Fisher: Avg grade = 91.00
Grayson Powell: Avg grade = 90.33
Emily Hughes: Avg grade = 91.67
Michael Foster: Avg grade = 91.00
Harper Simmons: Avg grade = 92.75

In [60]:
import pandas as pd

# Supongamos que 'file_students_grade' tiene las columnas 'Year', 'Math', 'English', 'Science', 'History'
# Además de otras posibles columnas como 'Name', etc.

# Filtrar y convertir las calificaciones a numéricas, gestionando valores inválidos (coerción a NaN)
subjects = ["Math", "English", "Science", "History"]

# Asegurarse de que las calificaciones son numéricas
file_students_grade[subjects] = file_students_grade[subjects].apply(pd.to_numeric, errors='coerce')

# Calcular el promedio por asignatura para cada año
average_by_year = file_students_grade.groupby("Year")[subjects].mean()

# Mostrar el DataFrame con los promedios por asignatura para cada año
print("Average grades per subject by year:")
print(average_by_year)

Average grades per subject by year:
           Math    English    Science    History
Year
2014  87.800000  83.200000  91.200000  83.000000
2015  86.500000  82.500000  93.333333  88.500000
2016  91.333333  87.333333  94.000000  87.000000
2017  89.000000  90.000000  95.333333  91.333333
2018  90.500000  89.666667  92.500000  94.500000
2019  91.000000  87.333333  90.666667  94.000000
2020  93.500000  88.000000  93.750000  92.500000
2021  89.000000  87.000000  92.000000  91.500000
2022  91.714286  88.375000  93.400000  92.111111

In [62]:
# Filtrar y convertir las calificaciones a numéricas, gestionando valores inválidos (coerción a NaN)
subjects = ["Math", "English", "Science", "History"]
file_students_grade[subjects] = file_students_grade[subjects].apply(pd.to_numeric, errors='coerce')

# Calcular el promedio por estudiante
file_students_grade['Average'] = file_students_grade[subjects].mean(axis=1)

# Filtrar a los estudiantes con promedio >= 90 y calificaciones válidas
students_above_90 = file_students_grade[file_students_grade['Average'] >= 90]

# Identificar estudiantes con promedio válido
valid_students = file_students_grade.dropna(subset=['Average'])

# Verificación de estudiantes sin calificaciones válidas
for index, row in file_students_grade.iterrows():
    if pd.isna(row['Average']):
        print(f"Warning: {row['Name']} has no valid grades.")

# Mostrar los estudiantes con promedio >= 90
if not students_above_90.empty:
    print("\nStudents with an average grade of 90 or above:")
    for index, row in students_above_90.iterrows():
        print(f"{row['Name']}: Avg grade = {row['Average']:.2f}")
else:
    print("\nNo students have an average of 90 or above.")

Students with an average grade of 90 or above:
Daniel Harris: Avg grade = 91.00
Olivia Thomas: Avg grade = 91.00
Isabella Jackson: Avg grade = 94.67
Lucas Martinez: Avg grade = 91.25
Mia Garcia: Avg grade = 91.33
Matthew Clark: Avg grade = 93.00
Alexander Young: Avg grade = 91.67
Amelia King: Avg grade = 92.50
Harper Scott: Avg grade = 92.25
Evelyn Hall: Avg grade = 91.50
Avery Adams: Avg grade = 91.75
Jackson Baker: Avg grade = 91.67
Lily Nelson: Avg grade = 90.67
Elijah Carter: Avg grade = 92.50
Zoey Perez: Avg grade = 91.50
Aiden Mitchell: Avg grade = 90.33
Owen Ramirez: Avg grade = 90.67
Hannah Walker: Avg grade = 94.00
Abigail Sanders: Avg grade = 90.50
Jacob Edwards: Avg grade = 91.25
Scarlett Murphy: Avg grade = 94.00
Mason Barnes: Avg grade = 92.50
Aria Bell: Avg grade = 92.00
Eleanor Fisher: Avg grade = 91.00
Grayson Powell: Avg grade = 90.33
Emily Hughes: Avg grade = 91.67
Michael Foster: Avg grade = 91.00
Harper Simmons: Avg grade = 92.75