# Assignment_2
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

This assignment would evaluate tree core topics : pandas , loops  and try , continue , catch exceptions

## Part 1. Pandas

Use the next data base `nyc_taxis.csv` , its on the github page of the assignment

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calculate
1. The average distance of the trip  (`trip_distance`) for each month (`pickup_month`)
2. The total of trips from JFK for each day of the month
3. Calculate the average velocity according to `pickup_dayofweek`

In [17]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv(r"C:\Users\Miguel\Documents\GitHub\summer_python_medialab\assignments\assignment_2\nyc_taxis.csv")

In [22]:
print(df.columns)

Index(['pickup_year', 'pickup_month', 'pickup_day', 'pickup_dayofweek',
       'pickup_time', 'pickup_location_code', 'dropoff_location_code',
       'trip_distance', 'trip_length', 'fare_amount', 'fees_amount',
       'tolls_amount', 'tip_amount', 'total_amount', 'payment_type'],
      dtype='object')

In [23]:
# 1. Para calcular la distancia media del viaje para cada mes
distancia_media_por_mes = df.groupby('pickup_month')['trip_distance'].mean()
print("Distancia media por mes:")
print(distancia_media_por_mes)

Distancia media por mes:
pickup_month
1    13.039750
2    13.145227
3    12.702256
4    12.808012
6    12.964744
Name: trip_distance, dtype: float64

In [28]:
# 2. Para calcular el total de viajes desde JFK para cada día del mes
# Filtrar por viajes desde JFK (suponiendo que 'JFK' es el código de ubicación)
df_jfk = df[df['pickup_location_code'] == 'JFK']
viajes_desde_jfk = df_jfk.groupby('pickup_day').size()
print("\nTotal de viajes desde JFK por día del mes:")
print(viajes_desde_jfk)

Total de viajes desde JFK por día del mes:
Series([], dtype: int64)

In [32]:
# 3. Para calcular la velocidad media según el día de la semana
# Para convertir la duración del viaje de segundos a horas para calcular la velocidad
df['duracion_horas'] = df['trip_length'] / 3600

# Calcular la velocidad (distancia / tiempo)
df['velocidad'] = df['trip_distance'] / df['duracion_horas']

# Asumiendo que 2016 es el año que deseas agregar a las fechas.
df['pickup_datetime'] = pd.to_datetime(df[['pickup_month', 'pickup_day']].assign(year=2016).astype(str).agg('-'.join, axis=1))

# Verifica el resultado
print(df[['pickup_month', 'pickup_day', 'pickup_datetime']].head())

# Esto extrae el día de la semana (0=lunes, 6=domingo)
df['pickup_dayofweek'] = df['pickup_datetime'].dt.dayofweek

# Para calcular la velocidad media por día de la semana
velocidad_media_por_dia = df.groupby('pickup_dayofweek')['velocidad'].mean()
print("\nVelocidad media por día de la semana:")
print(velocidad_media_por_dia)

   pickup_month  pickup_day pickup_datetime
0             1           1      2016-01-01
1             1           1      2016-01-01
2             1           1      2016-01-01
3             1           1      2016-01-01
4             1           1      2016-01-01

Velocidad media por día de la semana:
pickup_dayofweek
0    132.572743
1     27.345024
2    292.002247
3     91.467029
4    153.700881
5    368.736836
6    142.024225
Name: velocidad, dtype: float64

## Part 2 Loops- For loops , while loops

a. Using a  “for loop” and the conditional “if else” for a range bettewn 1 to 100, evaluate "x" so that:
If x is a multiple of 3 print  “Fizz”
If x is a multiple of 5 print  “Buzz”
If x is a multiple of 3 and 5 print “FizzBuzz”

In [7]:
for x in range (1,101):
    if x % 5 == 0 and x % 3 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz

b.You are a data analyst at an online store and you have a file containing information about sales for the last year. 

Here are the name of the columns

- `Date`: Transaction date (format: YYYY-MM-DD)
- `Product`: Name of the product sold
- `Quantity`: Number of units sold
- `Price`: Unit price of the product in dollars
- `Category`: Product Category (Electronics, Clothing, Home)
- `Sale_ID`: A unique identifier for each transaction

Read the `sales.csv` file using pandas:

- Display the first few rows using `.head()`.

Create a new column:
- Calculate the total for each transaction (multiply `quantity` by `price`) and store it in a new column called `Total`.

In [8]:
import pandas as pd

# Importando archivo CSV
df = pd.read_csv('sales.csv')

print(df.head())

         Date          Product  Quantity  Price     Category  Sale_ID
0  2023-01-01           Laptop         1   1000  Electronics     1001
1  2023-01-01          T-Shirt         2     20     Clothing     1002
2  2023-01-02  Washing Machine         1    500         Home     1003
3  2023-01-02       Headphones         3     50  Electronics     1004
4  2023-01-03            Pants         1     30     Clothing     1005

In [20]:
# Calculando las transacciones
df['Total'] = df['Quantity'] * df['Price']

- Create a new DataFrame called `df_electronic` that contains only sales from the `electronics` category.
- Calculate the total income of the `electronics` category.

- Group sales by `category` and calculate the total income for each one.

- Identify the product with the highest total quantity sold (`quantity`).

In [24]:
# Creando un nuevo DataFrame
df_electronic = df[df['Category'] == 'Electronics']

# Calculando el total de ventas de la categoría
total_income = df_electronic['Total'].sum
print(total_income)

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0     1000
3      150
5      800
7      100
10    2000
11     750
14     120
17     900
20      75
23    2850
26     600
29     600
31     450
Name: Total, dtype: int64>

In [27]:
# Calculando el total de ventas por categoría
incomes = df.groupby('Category')['Total'].sum()
print(incomes)

Category
Clothing        1700
Electronics    10395
Home            6150
Name: Total, dtype: int64

In [31]:
# Identificando el producto con más ingresos
product = df.loc[df['Quantity'].idxmax()]
print(product)

Date        2024-01-03
Product          Shirt
Quantity             5
Price               25
Category      Clothing
Sale_ID           2003
Total              125
Name: 12, dtype: object

Using a for loop:
- Print the ID of each sale (`sales_ID`) along with the total of that sale.

In [39]:
for index, row in df.iterrows():
    print(f"{row['Sale_ID']}, {row['Total']}")

1001, 1000
1002, 40
1003, 500
1004, 150
1005, 30
1006, 800
1007, 200
1008, 100
1009, 700
1010, 120
2001, 2000
2002, 750
2003, 125
2004, 1200
2005, 120
2006, 300
2007, 100
2008, 900
2009, 600
2010, 240
2011, 75
2012, 600
2013, 400
3001, 2850
3002, 280
3003, 700
3004, 600
3005, 165
3006, 150
3007, 600
3008, 200
3009, 450
3010, 1200

- Display the details of all sales (ID, Product, Total) whose revenue (`total`) is greater than $500.

In [41]:
for index, row in df[df['Total'] > 500].iterrows():
    print(f"{row['Sale_ID']}, {row['Product']}, {row['Total']}")

1001, Laptop, 1000
1006, Television, 800
1009, Sofa, 700
2001, Laptop, 2000
2002, Television, 750
2004, Refrigerator, 1200
2008, Phone, 900
2009, Dishwasher, 600
2012, Chair, 600
3001, Laptop, 2850
3003, Vacuum Cleaner, 700
3004, Tablet, 600
3007, Monitor, 600
3010, Bed, 1200

- Using a dictionary and a `for loop`  count the total amount of products sold for each category

In [45]:
products_sold = {}

for index, row in df.iterrows():
    category = row['Category']
    quantity = row['Quantity']
    if category in products_sold:
        products_sold[category] = quantity + 1
    else:
        products_sold[category] = quantity

for category, total_quantity in products_sold.items():
    print(f"Category: {category}, Total: {total_quantity}")

Category: Electronics, Total: 4
Category: Clothing, Total: 2
Category: Home, Total: 2

Using a while loop:
- Accumulate the total income (Total) day by day (adds sales totals by date). Stop the loop when the accumulated revenue exceeds $1000 and print the corresponding day.

In [47]:
df['Date'] = pd.to_datetime(df['Date'])

df_sorted = df.sort_values(by='Date')

In [48]:
revenue = 0
last = None

for index, row in df_sorted.iterrows():
    revenue += row['Total']
    last = row['Date']
    if revenue > 1000:
        print(f"{last.date()}")
        break

2023-01-01

- Accumulate sales totals row by row. Stop the loop when the accumulated revenue exceeds $2000 and print how many sales were necessary.

In [49]:
revenue = 0
sales = 0

for index, row in df.iterrows():
    revenue = row['Total'] + 1
    sales = sales + 1
    if revenue > 2000:
        print(f"{sales}")
        break

11

- Use a combination of `for and while` loops to calculate a rolling cumulative revenue:

For each category, use a for loop to iterate over its transactions.
Use a while loop to stop accumulating revenue for a category once it exceeds $ 3000.

Print the cumulative revenue for each category and the number of transactions it took to exceed $3000.

In [55]:
categories = df['Category'].unique()

for category in categories:
    category_sales = df[df['Category'] == category].sort_values(by='Date')
    
    revenue = 0  
    count = 0   
    
    for index, row in category_sales.iterrows():
        revenue += row['Total']
        count = count + 1              
        
        if revenue > 3000:
            print(f"Categoría: {category}, Revenue: ${revenue}, Sales: {count}")
            break

Categoría: Electronics, Revenue: $4050, Sales: 5
Categoría: Home, Revenue: $3500, Sales: 6

- Use a `nested for` loop to:

Group the sales by year and by date.

For each year, determine the date with the highest total revenue and the revenue value.
This task requires grouping and iterating within groups.

In [56]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year

In [57]:
sales_year = df.groupby(['Year', 'Date'])['Total'].sum()

In [58]:
for year, year_data in sales_year.groupby('Year'):
    max_date = year_data.idxmax() 
    max_total = year_data.max()   
  
    print(f"Year: {year}, Date: {max_date[1].date()}, Income: ${max_total}")

Year: 2023, Date: 2023-01-01, Income: $1040
Year: 2024, Date: 2024-01-01, Income: $2000
Year: 2025, Date: 2025-01-01, Income: $2850

## Part 3  Try, continue and catch exceptions

In this case you will work with a `students_grade.csv` dataset.

1. You are tasked with calculating the average grade for each student in the dataset. However, the dataset has some issues:

Some scores are marked as "missing" or "invalid" (strings instead of numeric values).
Some students may have incomplete grades across subjects.

To calculate the average:

Skip any "invalid" or "missing" values during calculations.
If a student has no valid grades, print a warning message for that student.


Use `try` and `except` to handle potential errors.
Use `continue` to skip invalid rows or scores.
Print the results in a clear format, showing the average grade for each student or a warning if no grades are available.

In [33]:
import pandas as pd  # Importar la librería Pandas

# Cargar el archivo CSV en un DataFrame
file_path = r"C:\Users\Miguel\Documents\GitHub\summer_python_medialab\assignments\assignment_2\students_grade.csv"  # Reemplaza con la ruta correcta de tu archivo

df = pd.read_csv(file_path)  # Leer el archivo CSV

# Reemplazar valores "invalid" y "missing" por NaN (valores nulos)
df.replace(["invalid", "missing"], pd.NA, inplace=True)

# Convertir las calificaciones a valores numéricos, reemplazando errores por NaN
# 'coerce' fuerza la conversión y asigna NaN a valores no convertibles
grade_columns = ["Math", "English", "Science", "History"]
df[grade_columns] = df[grade_columns].apply(pd.to_numeric, errors="coerce")

# Calcular la nota media de cada estudiante omitiendo valores nulos
df["Average_Grade"] = df[grade_columns].mean(axis=1)

# Identificar estudiantes sin calificaciones válidas
students_without_grades = df[df["Average_Grade"].isna()]

# Imprimir advertencias para estudiantes sin notas válidas
for _, row in students_without_grades.iterrows():
    print(f"Advertencia: El estudiante {row['Name']} (ID: {row['Student_ID']}) no tiene calificaciones válidas.")

# Mostrar las primeras filas con la nota media calculada
print(df[["Student_ID", "Name", "Average_Grade"]].head())

   Student_ID           Name  Average_Grade
0         101       John Doe      85.750000
1         102     Jane Smith      86.333333
2         103    Emily White      89.333333
3         104  Michael Brown      83.666667
4         105    Sarah Davis      89.000000

2. Calculate the average grade per subject for each year.
Handle invalid or missing values during the calculation by skipping them.
Print the averages in a clean format (e.g., table or grouped output).

In [37]:
# Calcular la nota media por asignatura para cada año
yearly_avg = df.groupby("Year")[grade_columns].mean()

# Mostrar la nota media por asignatura para cada año en formato de tabla
print("\nNota media por asignatura y año:")
print(yearly_avg)

Nota media por asignatura y año:
           Math    English    Science    History
Year
2014  87.800000  83.200000  91.200000  83.000000
2015  86.500000  82.500000  93.333333  88.500000
2016  91.333333  87.333333  94.000000  87.000000
2017  89.000000  90.000000  95.333333  91.333333
2018  90.500000  89.666667  92.500000  94.500000
2019  91.000000  87.333333  90.666667  94.000000
2020  93.500000  88.000000  93.750000  92.500000
2021  89.000000  87.000000  92.000000  91.500000
2022  91.714286  88.375000  93.400000  92.111111

3. Identify students who had an average grade of 90 or above across all years (excluding invalid/missing values).
If a student has no valid grades, skip them with a warning.

In [38]:
# Identificar estudiantes con nota media de 90 o más en todos los años
high_achievers = df.groupby("Student_ID")["Average_Grade"].mean()
high_achievers = high_achievers[high_achievers >= 90]

# Mostrar los estudiantes con nota media de 90 o más
print("\nEstudiantes con nota media de 90 o más en todos los años:")
if high_achievers.empty:
    print("Ningún estudiante cumple con el criterio.")
else:
    print(df[df["Student_ID"].isin(high_achievers.index)][["Student_ID", "Name", "Average_Grade"]].drop_duplicates())

Estudiantes con nota media de 90 o más en todos los años:
    Student_ID              Name  Average_Grade
9          110     Daniel Harris      91.000000
12         113     Olivia Thomas      91.000000
13         114  Isabella Jackson      94.666667
14         115    Lucas Martinez      91.250000
15         116        Mia Garcia      91.333333
16         117     Matthew Clark      93.000000
18         119   Alexander Young      91.666667
19         120       Amelia King      92.500000
21         122      Harper Scott      92.250000
23         124       Evelyn Hall      91.500000
24         125       Avery Adams      91.750000
25         126     Jackson Baker      91.666667
26         127       Lily Nelson      90.666667
27         128     Elijah Carter      92.500000
28         129        Zoey Perez      91.500000
29         130    Aiden Mitchell      90.333333
31         132      Owen Ramirez      90.666667
32         133     Hannah Walker      94.000000
34         135   Abigail Sanders      90.500000
35         136     Jacob Edwards      91.250000
36         137   Scarlett Murphy      94.000000
37         138      Mason Barnes      92.500000
38         139         Aria Bell      92.000000
39         140    Eleanor Fisher      91.000000
40         141    Grayson Powell      90.333333
41         142      Emily Hughes      91.666667
42         143    Michael Foster      91.000000
43         144    Harper Simmons      92.750000