# Assignment_2
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

This assignment would evaluate tree core topics : pandas , loops  and try , continue , catch exceptions

## Part 1. Pandas

Use the next data base `nyc_taxis.csv` , its on the github page of the assignment

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calculate
1. The average distance of the trip  (`trip_distance`) for each month (`pickup_month`)
2. The total of trips from JFK for each day of the month
3. Calculate the average velocity according to `pickup_dayofweek`

## Part 2 Loops- For loops , while loops

a. Using a  “for loop” and the conditional “if else” for a range bettewn 1 to 100, evaluate "x" so that:
If x is a multiple of 3 print  “Fizz”
If x is a multiple of 5 print  “Buzz”
If x is a multiple of 3 and 5 print “FizzBuzz”

b.You are a data analyst at an online store and you have a file containing information about sales for the last year. 

Here are the name of the columns

- `Date`: Transaction date (format: YYYY-MM-DD)
- `Product`: Name of the product sold
- `Quantity`: Number of units sold
- `Price`: Unit price of the product in dollars
- `Category`: Product Category (Electronics, Clothing, Home)
- `Sale_ID`: A unique identifier for each transaction

Read the `sales.csv` file using pandas:

- Display the first few rows using `.head()`.

Create a new column:
- Calculate the total for each transaction (multiply `quantity` by `price`) and store it in a new column called `Total`.

- Create a new DataFrame called `df_electronic` that contains only sales from the `electronics` category.
- Calculate the total income of the `electronics` category.

- Group sales by `category` and calculate the total income for each one.

- Identify the product with the highest total quantity sold (`quantity`).

Using a for loop:
- Print the ID of each sale (`sales_ID`) along with the total of that sale.

- Display the details of all sales (ID, Product, Total) whose revenue (`total`) is greater than $500.

- Using a dictionary and a `for loop`  count the total amount of products sold for each category

Using a while loop:
- Accumulate the total income (Total) day by day (adds sales totals by date). Stop the loop when the accumulated revenue exceeds $1000 and print the corresponding day.

- Accumulate sales totals row by row. Stop the loop when the accumulated revenue exceeds $2000 and print how many sales were necessary.

- Use a combination of `for and while` loops to calculate a rolling cumulative revenue:

For each category, use a for loop to iterate over its transactions.
Use a while loop to stop accumulating revenue for a category once it exceeds $ 3000.

Print the cumulative revenue for each category and the number of transactions it took to exceed $3000.

- Use a `nested for` loop to:

Group the sales by year and by date.

For each year, determine the date with the highest total revenue and the revenue value.
This task requires grouping and iterating within groups.

## Part 3  Try, continue and catch exceptions

In this case you will work with a `students_grade.csv` dataset.

1. You are tasked with calculating the average grade for each student in the dataset. However, the dataset has some issues:

Some scores are marked as "missing" or "invalid" (strings instead of numeric values).
Some students may have incomplete grades across subjects.

To calculate the average:

Skip any "invalid" or "missing" values during calculations.
If a student has no valid grades, print a warning message for that student.


Use `try` and `except` to handle potential errors.
Use `continue` to skip invalid rows or scores.
Print the results in a clear format, showing the average grade for each student or a warning if no grades are available.

2. Calculate the average grade per subject for each year.
Handle invalid or missing values during the calculation by skipping them.
Print the averages in a clean format (e.g., table or grouped output).

3. Identify students who had an average grade of 90 or above across all years (excluding invalid/missing values).
If a student has no valid grades, skip them with a warning.