In [18]:
#Exercise_1
student_info={"pablo":34,"sofia":35,"gisella":43}

In [19]:
type(student_info)

dict

In [20]:
print(student_info)

{'pablo': 34, 'sofia': 35, 'gisella': 43}

In [21]:
print(student_info["pablo"])

34

In [1]:
#Exercise_2 
product_prices = {"arroz": 2.5, "azucar": 1.2, "frejoles": 0.6}

In [2]:
product_prices["frejoles"] = 0.9
product_prices

{'arroz': 2.5, 'azucar': 1.2, 'frejoles': 0.9}

In [3]:
product_prices["harina"] = 1.2

In [4]:
product_prices

{'arroz': 2.5, 'azucar': 1.2, 'frejoles': 0.9, 'harina': 1.2}

In [1]:
#Exercise_3
##ChatGPT result
squared_numbers = {num: num**2 for num in range(1, 11)}

In [2]:
print(squared_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [23]:
#other way 
squared_numbers={1:1,2:4,3:9,4:16,5:25,6:36,7:49,8:64,9:81,10:100}

In [24]:
type(squared_numbers)

dict

In [1]:
#Exercise 4 - answer

employee_data = {
  350: {"Name": "Gisella", "Position": "Principal", "Salary": 8000},
  351: {"Name": "Eduardo", "Position": "Teacher", "Salary": 6000},
  352: {"Name": "Carlos", "Position": "assistant teacher", "Salary": 2000}, 
  353: {"Name": "Eva", "Position": "Lawyer", "Salary": 7000},
  354: {"Name": "Maria", "Position": "Teacher", "Salary": 8000}
}

In [2]:
print(employee_data[353]["Name"])
print(employee_data[353]["Position"])

Eva
Lawyer

In [26]:
#Exercise 5 - answer
#ChatGPT result

In [27]:
dict1 = {"A": 1, "B": 2, "C": 3}
dict2 = {"D": 4, "E": 5, "F": 6}

In [36]:
merged_dict = dict(zip(dict1.keys(), dict1.values()))
merged_dict.update(dict(zip(dict2.keys(), dict2.values())))
print(merged_dict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [ ]:
#PANDA Exercise 1 - answer

In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}

df = pd.DataFrame(data)

In [3]:
print(df.loc[:, "Name"])

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [4]:
#PANDA Exercise 2 - answer
print(df.iloc[2:5])

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4      Eva   45    Miami

In [5]:
#Exercise 3 - answer
print(df.iloc[:, 0:2])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eva   45

In [6]:
#Exercise 4 - answer
print(df.loc[df["Age"] > 30])

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4      Eva   45    Miami

In [7]:
#Exercise 5 - answer
df.loc[df["Name"] == "Alice", "City"] = "Boston"

In [8]:
print(df)

      Name  Age         City
0    Alice   25       Boston
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45        Miami