# Assignment
It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is 0 points.

## 1.1 Tuple
1. Print the first item of the second item of tuple1 object. Hint: Use indexing

2. Print the last item of the tuple1 object.Hint: Use indexing

3. Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

4. Print the length of tuple1. Hint: Length function

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

6. Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## 1

In [ ]:
# The second item being [10, 20, 30] and the first item of it is 10

tuple1[1][0]

10

## 2

In [ ]:
# The last element is a tuple

tuple1[-1]

(5, 15, 25)

## 3

In [ ]:
# This is not possible. A characteristic of the tuples are that items cannot be change, added or removed; in contrast with the lists.

10

## 4

In [ ]:
# Len() function gives the total length of the tuple

len(tuple1)

3

## 5

In [ ]:
# We use sum() function to sum all the elements, assuming they are unitary values and NOT a tuple

suma1 = sum(tuple2[0])
suma2 = sum(tuple2[1])
suma3 = sum(tuple2[2])

suma_total = suma1 + suma2 + suma3
suma_total

42

# 6

In [ ]:
 # The team has considered selecting half of the values in tuple 2 and turned them into a list of tuples

 tuple3 = ([tuple2[0][0],],[tuple2[0][1],],[tuple2[1][0],])
 tuple3

([7], [8], [9])